@media (min-width: 768px) {
  * {
    cursor: none !important;
  }

  .cursor {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: 100% 100%;
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: opacity, transform, background-color, backdrop-filter;

    /* 
    -------------ARROW CURSOR-------------
    boder-radius: 0;
    transform: translate(0,0);
    clip-path: polygon(44% 65%, 30% 100%, 0 0, 100% 30%, 65% 44%, 100% 80%, 80% 100%); 
    */
  }
}
