@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Sacramento&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}