@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Sacramento&display=swap");
cd body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar {
  width: 12px;
}
.modal-form::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #606060;
  border-radius: 100px;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

::selection {
  background: #f4a98b;
  color: #000;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield !important;
}

.rainbow-text {
  animation: rainbow 5s infinite alternate-reverse;
  background-image: linear-gradient(-45deg, #e73c7e, #ee7752, #23d5ab, #9123d5);
  background-size: 500%;
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
